/**
 * @File   : base.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Date   : 2018-6-8 16:03:33
 * @Description:
 */
html, body, #container {
  padding: 0;
  margin: 0;
  outline: none;
}

#container {
  padding: 2% 10%;
  width: 80%;

  .test {
    border-top: 1px solid black;

    &-js {
      color: red;
    }
    
    &-wasm {
      color: green;
    }
  }
}
